/* CSS/styles.css */

body {
    font-family: 'Inter', 'Inter Fallback', ui-sans-serif, system-ui, -apple-system, 'system-ui', 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-weight: 400;
    font-style: normal;
    color: rgb(0, 0, 0);
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.tool-card {
    background-color: #0C0E1A;
    border-radius: 16px;
    padding: 25px;
    color: white;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none; /* Remove default button border */
}

.tool-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.centered-h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 0; /* Remove default margin */
}
.black-box {
    background-color: #8f57a6; /* Set background color */
    color: white;
    padding: 20px; /* Optional: Add padding for better appearance */
    border-radius: 10px; /* Optional: Add rounded corners */
}
 .rounded-cropped-image {
     border-radius: 15px; /* Adjust the value for desired roundness */
     object-fit: cover; /* Crop the image to fit the container */
     width: 100%; /* Adjust the width as needed */
     height: 250px; /* Adjust the height as needed */
 }
.rounded-cropped-image2 {
    border-radius: 15px; /* Adjust the value for desired roundness */
    object-fit: cover; /* Crop the image to fit the container */
    width: 100%; /* Adjust the width as needed */
    height: 250px; /* Adjust the height as needed */
    object-position: top; /* Ensure the top of the image is always shown */
}
.rounded-cropped-image3 {
    border-radius: 15px; /* Adjust the value for desired roundness */
    object-fit: cover; /* Crop the image to fit the container */
    width: 100%; /* Adjust the width as needed */
    height: 300px; /* Adjust the height as needed */
    object-position: top 
}

h1, h2, p  {
    font-family: 'Inter', 'Inter Fallback', ui-sans-serif, system-ui, -apple-system, 'system-ui', 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-weight: 500;
    font-style: normal;
    color: rgb(0, 0, 0);
    font-size: 34px;
    line-height: 24px;
}
 ul, li {
    font-family: 'Inter', 'Inter Fallback', ui-sans-serif, system-ui, -apple-system, 'system-ui', 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-weight: 400;
    font-style: normal;
    color: rgb(0, 0, 0);
    font-size: 16px;
    line-height: 24px;
}

/* Other existing styles */
html {
    scroll-behavior: smooth;
}

header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center; /* Center content horizontally */
    background-color: #333;
    margin: 0;
    height: 30vh; /* Adjust height as needed */
    width: 100vw; /* Full viewport width */
    z-index: 0; /* Lower z-index to allow overlap */
}

header img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the header without distortion */
}

header h1 {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: white;
    margin: 0;
    padding: 0 20px; /* Add padding to the sides */
    font-size: 40px;
}

main {
    display: flex;
    margin-top: 20px; /* Ensure it does not overlap with the header */
    padding-left: 100px;
    padding-right: 300px
}

.scroll-container {
    flex-grow: 1;
    overflow-y: auto;
    height: calc(100vh - 30vh); /* Adjust height to fit within the viewport */
    padding-left: 220px; /* Add padding to avoid overlap with aside */
}

aside {
    position: fixed;
    top: 30vh; /* Align with the bottom of the header */
    left: 0;
    width: 200px;
    height: 350px;; /* Adjust height to fit within the viewport */
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.content {
    padding: 20px;
}

aside h2 {
    color: #333;
}

aside ul {
    list-style: none;
    padding: 0;
}

aside ul li {
    margin: 10px 0;
}
aside a {
    text-decoration: none;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    margin-bottom: 40px;
}

h2 {
    color: #333;
}

ul {
    margin: 10px 0;
    padding: 0;
    list-style: circle inside;
    color: black;
  
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #eee;
}
/* CSS/styles.css */

a {
    color: black;
    text-decoration: underline;
}

a:visited {
    color: black;
}

a:hover {
    color: dodgerblue;
    text-decoration: underline;
}